.body {
    display: flex;
    gap: 16px;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90%;
}

.input-group > input {
    height: 45px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    font: 16px var(--font-noto-sans);
}

.input-group > .input-adicionais {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-group > .input-adicionais > input {
    width: 40%;
    height: 45px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    font: 16px var(--font-noto-sans);
}

.body > textarea {
    width: 80%;
    border-top-left-radius: 15px;
    border: 0;
    padding: 10px;
    font: 14px var(--font-noto-sans);
}